.Contact-gmail {
    height: 4vmin;
    pointer-events: none;
  }

.Contact-twitter {
    height: 4vmin;
    pointer-events: none;
}

.Contact-linkedin {
    height: 4vmin;
    pointer-events: none;
    }